<!-- file: grasp_generator.launch -->
<launch>
    <!-- Args with sensible defaults that match your current code -->   
    <arg name="node_name" default="grasp_generator_node" />
    <arg name="rgb_topic" default="/hsrb/head_rgbd_sensor/rgb/image_raw" />
    <arg name="depth_topic" default="/hsrb/head_rgbd_sensor/depth_registered/image_raw" />
    <arg name="camera_info_topic" default="/hsrb/head_rgbd_sensor/depth_registered/camera_info" />
    <arg name="detections_topic" default="/unsw_vision/detections/objects/positions" />
    <arg name="debug" default='0' />
    <arg name="grasp_width" default='0.236' />
    <arg name="target_object_id" default='-1' />
    <arg name="target_object_class" default='false' />
    <arg name="orientation" default='front' />

    <!-- Start your node -->
    <!-- Replace pkg and type with your real package and executable script name -->
    <node pkg="super_grasp" type="grasp_generator.py" name="$(arg node_name)" output="screen">

        <!-- Private params so you can later read with rospy.get_param('~param') -->
        <param name="rgb_topic" value="$(arg rgb_topic)" />
        <param name="depth_topic" value="$(arg depth_topic)" />
        <param name="camera_info_topic" value="$(arg camera_info_topic)" />
        <param name="detections_topic" value="$(arg detections_topic)" />
        <param name="debug" value="$(arg debug)" />
        <param name="grasp_width" value="$(arg grasp_width)" />
        <param name="target_object_id" value="$(arg target_object_id)" />
        <param name="target_object_class" value="$(arg target_object_class)" />
        <param name="orientation" value="$(arg orientation)" />

    </node>
</launch>
